@{
    ViewData["Title"] = "За нас";
}
<h1 align="center">@ViewData["Title"]</h1>
    <div class="row text-center" style="margin-top:15px;"> 
        <div class="flex-column">

        <img src="https://brand.assets.reebok.com/image/upload/f_auto,q_auto,fl_lossy/reebok_enUS/Images/23SS_Women-Shoes_FD_IWP-Tile-CLASSICS_DT_tcm274-1002340.jpg" width="350" style="margin-right:80px;" />
        <img src="https://korraemail.co.in/clients/sneaker-studio/images/SneakerStudio_Nov22-ShopByType-Mobile-Classic.jpg" width="350" />
                </div>
                </div>
<div class="text-center transparent11" style="margin-top:30px">
<h5><br /> 
    Онлайн магазин за обувки Big Foot е една утвърдена на българския пазар фирма,<br />
    с богата история и многогодишен опит. Ние ценим вашето време и се стремим да ви угодим максимално, <br />
    за това използваме най-добрите куриерски услуги (от врата до врата), следим най-новите модни тенденции,<br />
    за да може вие – нашите клиенти винаги да бъдете актуални и стилни.<br />
        Тук може да намерите богата гама дамски, детски и мъжки обувки, боти, ботуши, сандали, чехли, джапанки, чанти.<br />
    <br />
</h5>
</div>