@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:110px">
    <h1 class="display-4 fw-bold">BIG FOOT</h1>
    <hr style="height:2px;"/>
    <h2>НАЙ-ДОБРИЯТ САЙТ ЗА ОБУВКИ В СТРАНАТА!</h2>
    <img src="https://hips.hearstapps.com/hmg-prod/images/index-1583529560.jpg?crop=1xw:0.997920997920998xh" height="250" style="margin-top:30px;" />
</div>
