html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(https://i.pinimg.com/originals/46/d1/5f/46d15fb0113ad6eb507d7bf4a1bcecdf.jpg);
    background-size: cover;
}
.transparent11 {
    background: rgba(1,1,1,0.2);
}